doctype html
html(lang="en-us")
  head
    title Oregon National Parks map
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    script(async, defer, src="js/app.ts")
    script(async, defer, src=`https://maps.googleapis.com/maps/api/js?v=3&key=${googleApiKey}`)#maps-script
    link(rel="stylesheet", href="css/styles.scss")
  body
    section.sidebar
      header
        h1 Oregon National Parks
        h2 Created by #[a(href=web.noah) Noah Brenner] — #[a(href=web.repo) Source on GitHub]
        div.favorites-toggle
          button#show-all Show everything
          button#show-favorites Show favorites
        div.filter
          label(for="filter-select") Filter:
          select#filter-select
            option(value="") None

            // ko foreach: parkTypes
            option(data-bind="text: $data, attr: {value: $data}")
            // /ko
      nav
        ul(data-bind="foreach: parks")
          li(data-bind="text: name")
      footer
        p Data from the #[a(href=web.nps) National Parks Service API]
        p Displayed using #[a(href=web.maps) Google Maps] and #[a(href=web.ko) Knockout.js]
    main#map
