doctype html
html(lang="en-us")
  head
    title Oregon National Parks map
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="initial-scale=1")
    script(src=`https://cdn.polyfill.io/v2/polyfill.min.js?features=${polyfillFeatures}&callback=polyfillCallback`)
    script(async, defer, src=`https://maps.googleapis.com/maps/api/js?v=3&key=${googleApiKey}`)#maps-script
    script(async, defer, src="js/app.ts")
    link(rel="stylesheet", href="css/styles.scss")
  body
    section.sidebar
      header
        h1 Oregon National Parks
        h2 Created by #[a(href=web.noah) Noah Brenner] — #[a(href=web.repo) Source on GitHub]
        div.favorites-toggle
          each option in ['all', 'favorites']
            input(type="radio", name="only-show-favorites", id=option,
              value=`${option === 'favorites'}`, data-bind="checked: onlyShowFavorites")
            label(for=option)= `Show ${option}`
        div.filter
          label(for="filter-select") Filter:
          select(data-bind="value: parkTypeFilter, options: parkTypes, optionsCaption: 'None'")
        button(data-bind="click: resetMapZoom") Reset map view
      nav
        //- Define strings for use in `data-bind` attribute of `<a>` tag below
        -
          const parkEvents = [
            'click: $root.selectPark',
            'mouseover: $root.toggleHover',
            'mouseout: $root.toggleHover'
          ].join(', ');

          const parkClasses = [
            'hover: isHovered',
            'active: isCurrentPark'
          ].join(', ');

        ul(data-bind="foreach: visibleParks")
          li
            input(type="checkbox", data-bind="checked: isFavorite, attr: {id: $index}")
            label(title="Toggle favorite", data-bind="attr: {for: $index}")
            a(href="#",
              data-bind=`text: name, event: {${parkEvents}}, css: {${parkClasses}}`)
        p(data-bind="visible: visibleParks().length === 0") No parks to display
      footer
        p Data from the #[a(href=web.nps) National Parks Service API]
        p Displayed using #[a(href=web.maps) Google Maps] and #[a(href=web.ko) Knockout.js]
    main#map

    //- At runtime, this block is inserted into a Google Map infowindow
    section(data-bind="with: currentPark")#infowindow.modal
      h1 #[span(data-bind="text: name")] #[a(data-bind="attr: {href: website}") (open website)]
      h2(data-bind="text: parkType")

      // ko if: imgUrl
      img(data-bind="attr: {src: imgUrl, alt: imgAlt, title: imgCaption}")
      // /ko

      p(data-bind="text: description")

      // ko if: address
      p(data-bind="with: address")
        span(data-bind="text: street")
        br
        span(data-bind="text: cityState")
      // /ko
