-
  const urls = {
    noah: 'https://noahbrenner.github.io/',
    repo: 'https://github.com/noahbrenner/national-parks',
    nps: 'https://www.nps.gov/subjects/developer/api-documentation.htm',
    maps: 'https://developers.google.com/maps/documentation/',
    ko: 'https://knockoutjs.com/'
  };

doctype html
html(lang="en-us")
  head
    title Oregon National Parks map
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet", href="css/styles.scss")
  body
    section.sidebar
      header
        h1 Oregon National Parks
        h2 Created by #[a(href=urls.noah) Noah Brenner] — #[a(href=urls.repo) Source on GitHub]
        div.favorites-toggle
          button#show-all Show everything
          button#show-favorites Show favorites
      nav
        ul
          li Park Name One
          li Park Name Two
      footer
        p Data from the #[a(href=urls.nps) National Parks Service API]
        p Displayed using #[a(href=urls.maps) Google Maps] and #[a(href=urls.ko) Knockout.js]
    main#map
    script(src="js/app.ts")
